<%- include("../partials/header") %>

<div class="container">
    <div class="text-center">
        <h1 class="display-1 color-prim"><%=id%></h1>
        <hr>

        <ul id="messages"></ul>


        <div class="chat">
            <form class="form-inline" id="send">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="m" placeholder="Type a message">
                </div>
                <button type="submit" class="btn btn-outline-light mb-2">Send</button>
              </form>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  $(function () {
    var socket = io();
    //Sending messages
    $('form').submit(function(e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('lobby message', $('#m').val());
      $('#m').val('');
      return false;
    });

    //Receiving messages
    socket.on('lobby message', function(msg){
      $('#messages').append($('<li>').text(msg));
    })
  });;
</script>


<%- include("../partials/footer") %>